/* ----------------------------------------------------전체 설정 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  background: var(--white-color, #ffffff);
  overflow-x: hidden;
  white-space: nowrap;
}

.header,
.nav,
.top-bar,
.header-member-service,
.header-site-select ul {
  white-space: nowrap;
}

/* ----------------------------------------------------첫 번째 줄 : Top Bar */
.top-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 1.25rem;
  width: 100%;
  max-width: 65.625rem;
  margin: 0 auto;
  background: var(--white-color, #ffffff);
}

.top-bar-nav {
  width: 100%;
}

.header-member-service {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
  gap: 0.75rem;
  padding: 0.75rem 0 0;
  height: 1.9375rem;
}

.header-member-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-member-item a {
  text-decoration: none;
  font-size: var(--font-sm, 0.75rem);
  line-height: 160%;
  color: var(--content-text-color, #333333);
}

.header-member-item.divider a.join {
  color: var(--primary-color, #283198);
}

.divider::after {
  content: '';
  width: 0.0625rem;
  height: 0.8125rem;
  background: var(--gray-color-100, #e1e1e1);
  margin-left: 0 0.75rem;
}

/* ----------------------------------------------------2번째 줄 : Header Wrapper */
.header-wrapper {
  width: 100%;
  max-width: 65.625rem;
  margin: 0 auto;
  background: var(--white-color, #ffffff);
}

.header {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.header-name-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 3.4375rem;
  box-sizing: border-box;
}

.header-site-select {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}

.header-logo a img {
  width: 5.125rem;
  height: 3.1875rem;
}

.header-site-select ul {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.header-site-select ul li {
  position: relative;
}

.header-site-select ul li a {
  text-decoration: none;
  font-size: var(--font-lg, 1.25rem);
  color: var(--gray-color-400, #898989);
  letter-spacing: -0.0625rem;
}

.header-site-select ul li a.site-main {
  color: var(--primary-color, #283198);
  font-weight: var(--text-semi-bold, 600);
}

.header-site-select ul li a.site-beauty:hover {
  color: var(--primary-color, #283198);
  font-weight: var(--text-semi-bold, 600);
  transition: color 0.03s ease, font-weight 0.03s ease;
}

.header-site-select ul li a.site-beauty::after {
  content: '';
  width: 0.0625rem;
  height: 1rem;
  background: var(--gray-color-200, #e1e1e1);
  margin-left: 0.75rem;
  position: absolute;
  top: 50%;
  left: -1.2rem;
  transform: translateY(-50%);
}

.new-icon img {
  position: relative;
  top: -0.875rem;
  margin-left: 0.0625rem;
  width: 0.5rem;
  height: 0.5rem;
}

/* Header Search */
.header-search {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 3.125rem;
  border: 0.0625rem solid var(--primary-color, #283198);
  border-radius: 0.25rem;
  padding: 0.75rem 0.875rem;
}

.header-search input::placeholder {
  color: var(--gray-color-400, #898989);
}

.header-search input {
  flex-grow: 1;
  border: none;
  font-size: var(--font-md, 1rem);
  color: var(--gray-color-400, #898989);
  font-weight: var(--text-bold, 700);
}

.header-search button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Header Bookmarks */
.header-bookmarks {
  position: relative;
  display: flex;
  list-style: none;
  gap: 15%;
  margin-left: auto;
  margin-right: auto;
}

.header-bookmarks li a {
  position: relative;
  display: flex;
  align-items: center;
}

.header-bookmarks li a:hover img {
  filter: invert(33%) sepia(98%) saturate(1497%) hue-rotate(222deg)
    brightness(87%) contrast(91%);
}

.header-bookmarks .icon {
  width: 2.25rem;
  height: 2.25rem;
}

.header-bookmarks li a:hover .map-popup {
  display: block;
}

.map-popup {
  display: none;
  position: absolute;
  top: 6.25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color, #ffffff);
  border: 0.0625rem solid #ccc;
  padding: 1.25rem;
  z-index: 10;
  width: 15.625rem;
  opacity: 2;
}

.map-popup h3 {
  font-size: var(--font-md, 1rem);
  font-weight: var(--text-bold, 700);
  margin-bottom: 0.625rem;
}

.map-popup p {
  font-size: var(--font-sm, 0.75rem);
  margin-bottom: 0.9375rem;
}

.map-popup button {
  background-color: var(--primary-color, #283198);
  color: var(--white-color, #ffffff);
  border: none;
  padding: 0.5rem 1rem;
  font-size: var(--font-sm, 0.75rem);
  cursor: pointer;
}

/* ---------------------------------------------------- 3번째 줄 : Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  max-width: 65.625rem;
  margin: 0 auto;
  background: var(--white-color, #ffffff);
}

.nav-category {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

.nav-category span {
  text-decoration: none;
  font-weight: var(--text-semi-bold, 600);
  font-size: var(--font-md, 1rem);
  color: var(--content-text-color, #333333);
  letter-spacing: -0.03125rem;
  padding-left: 0.5rem;
}

.nav-category-icon {
  width: 1rem;
  height: 0.875rem;
}

.nav-category:hover {
  cursor: pointer;
}

.nav-category:hover .nav-category-icon {
  filter: invert(33%) sepia(98%) saturate(1497%) hue-rotate(222deg)
    brightness(87%) contrast(91%);
}

.nav-category:hover span {
  color: var(--primary-color, #283198);
  font-weight: var(--text-bold, 700);
}

.nav-site-map {
  display: flex;
  list-style: none;
  gap: 5.9375rem;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}

.nav-site-map li a {
  text-decoration: none;
  font-weight: var(--text-semi-bold, 600);
  font-size: var(--font-md, 1rem);
  color: var(--content-text-color, #333333);
}

.nav-site-map li a:hover {
  text-decoration: underline;
  color: var(--primary-color, #283198);
}

.nav-delivery {
  display: flex;
  align-items: center;
  padding: 0.3125rem 0.5rem;
  border: 0.0625rem solid var(--gray-color-400, #898989);
  border-radius: 1rem;
}

.nav-delivery a {
  text-decoration: none;
  font-size: var(--font-sm, 0.75rem);
  color: var(--primary-color, #283198);
}

.header-cs-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 1.875rem;
  background: var(--white-color, #ffffff);
  border: 0.0625rem solid var(--gray-color-100, #e1e1e1);
  z-index: 10;
}

.header-member-item:hover .header-cs-menu {
  display: block;
}

.header-cs-menu li a {
  display: block;
  padding: 0.625rem;
  text-decoration: none;
  color: var(--content-text-color, #333333);
}

.header-cs-menu li a:hover {
  background-color: var(--gray-color-100, #e1e1e1);
}

.delivery-bold {
  font-weight: var(--text-bold, 700);
}

/* ----------------------------------------------------가로선 */
.header-shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
  z-index: 1;
}

/* ---------------------------------------------------- 반응형 */

@media screen and (max-width: 1024px) {
  /** 태블릿 가로, 노트북 */
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */

  .nav-site-map {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-delivery {
    display: none;
  }

  .nav-category-text {
    display: none;
  }

  .site-main {
    display: none;
  }

  .site-beauty {
    display: none;
  }

  .header-bookmarks {
    gap: 0.5rem;
    margin-left: -2rem;
  }

  .header-search {
    margin-left: -3rem;
  }

  .header-member-service {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */

  .header-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;
  }

  .header-logo {
    order: 1;
  }

  .header-bookmarks {
    order: 2;
    display: flex;
    gap: 1.25rem;
    justify-content: flex-start;
    margin-right: 0;
  }
  .header-search {
    width: 100%;
    order: 3;
    margin-left: 0rem;
  }

  .nav-site-map {
    display: flex;
    gap: 1.2rem;
    justify-content: flex-start;
    margin-left: auto;
    /* margin-right: 2rem; */
  }

  .nav-delivery {
    display: none;
  }

  .header-member-service {
    display: none;
  }

  .nav-category-text {
    display: none;
  }

  .site-beauty {
    display: none;
  }

  .site-main {
    display: none;
  }
}
