/* ----------------------------------------------------- 주요 항목 */

.category-list {
  list-style-type: none;
  position: absolute;
  z-index: 0;
  border: 0.0625rem solid var(--gray-color-100, #ececec);
  padding: 0;
  background: var(--white-color, white);
  width: 250px;
  left: 0;
  top: 23.5px;
  height: 60vh;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  clip-path: none;
  overflow-y: auto;

  a {
    font-size: var(--font-md, 1rem);
    font-weight: var(--text-regular, 400);
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-lg, 0.75rem);
    cursor: pointer;
    font-family: 'Pretendard', sans-serif;
    font-weight: var(--text-semi-bold, 600);
    font-size: var(--font-md, 1rem);
    line-height: var(--regular-line-height, 1.5);
    color: var(--content-text-color, #333);
    gap: var(--space-lg, 0.75rem);
    vertical-align: middle;

    &:hover {
      background-color: var(--gray-color-50, #f5f5f5);
      color: var(--primary-color);

      img {
        filter: invert(24%) sepia(68%) saturate(2054%) hue-rotate(226deg)
          brightness(92%) contrast(92%);
        stroke-width: 2.5;
      }
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      transition: filter 0.2s ease-in-out;
    }
  }
}
