<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <title>Swiper</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script type="module" src="./Swiper.js"></script>
  </head>
  <body>
    <swiper-element></swiper-element>
  </body>
</html>
