:root {
  /* ---------------------------------- color --------------------------------- */
  --primary-color: #283198;
  --secondary-color: #324fff;
  --content-text-color: #333333;
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-color: #fa622f;
  --info-error-color: #f03f40;

  --gray-color-50: #f9f9f9;
  --gray-color-50: #f9f9f9;
  --gray-color-100: #e1e1e1;
  --gray-color-200: #c4c4c4;
  --gray-color-300: #a6a6a6;
  --gray-color-400: #898989;
  --gray-color-500: #6b6b6b;
  --gray-color-600: #565656;
  --gray-color-700: #404040;
  --gray-color-800: #2b2b2b;
  --gray-color-900: #151515;

  /* ------------------------------- font-weight ------------------------------ */
  --text-thin: 100;
  --text-extra-light: 200;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semi-bold: 600;
  --text-bold: 700;
  --text-extra-bold: 800;
  --text-black: 900;

  /* -------------------------------- font-size ------------------------------- */
  --font-sm: 0.75rem; /* 12px */
  --font-md: 1rem; /* 16px */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 1.75rem; /* 28px */
  --font-3xl: 2rem; /* 32px */
  --font-4xl: 2.25rem; /* 36px */
  --font-5xl: 2.5rem; /* 40px */

  /* ------------------------------- line-height ------------------------------ */
  --regular-line-height: 1.6;

  /* ---------------------------------- space --------------------------------- */
  --space-sm: 0.25rem; /* 4px */
  --space-md: 0.5rem; /* 8px */
  --space-lg: 0.75rem; /* 12px */
  --space-xl: 1rem; /* 16px */
  --space-2xl: 1.25rem; /* 20px */
  --space-3xl: 1.5rem; /* 24px */
  --space-4xl: 1.75rem; /* 28px */
  --space-5xl: 2rem; /* 32px */

  /* ------------------------------ Effect styles ----------------------------- */
  --text: inset 1px 1px 0px rgba(0, 0, 0, 1);
  --above-high: 0px -16px 48px rgba(0, 0, 0, 0.3);
  --above-medium: 0px -8px 36px rgba(0, 0, 0, 0.2);
  --above-low: 0px -4px 24px rgba(0, 0, 0, 0.1);
  --below-high: 0px 16px 48px rgba(0, 0, 0, 0.3);
  --below-medium: 0px 8px 36px rgba(0, 0, 0, 0.2);
  --below-low: 0px 4px 24px rgba(0, 0, 0, 0.1);
}
