:root {
  --primary-color: #283198;
  --secondary-color: #324fff;
  --content-text-color: #333333;
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-color: #fa622f;

  --gray-color-100: #e1e1e1;
  --gray-color-400: #898989;

  --text-thin: 100;
  --text-extra-light: 200;
  --text-light: 300;
  --text-regular: 400;
  --text-medium: 500;
  --text-semi-bold: 600;
  --text-bold: 700;
  --text-extra-bold: 800;
  --text-black: 900;
}

.card-component {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;

  font-family: 'Pretendard';

  & a {
    display: inline-block;

    figure {
      position: relative;
      width: 249px;

      img {
        width: 100%;
      }

      .add-cart {
        position: absolute;
        right: 15px;
        bottom: 17px;
      }
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      .sub-title {
        margin-bottom: 0.5rem;
        margin-block-end: 0.5rem;

        line-height: 1.5;
        color: var(--gray-color-400, #898989);
        font-weight: var(--text-semi-bold);
        font-size: 0.75rem;
      }
      .main-title {
        line-height: 1.6;
        color: var(--content-text-color, #333333);
        font-weight: var(--text-regular);
        font-size: 1rem;
      }
    }

    .price {
      & p:first-child {
        line-height: 1.5;
        font-weight: var(--text-semi-bold);
        font-size: 1.4rem;

        .discount {
          color: var(--accent-color, #fa622f);
        }

        .current-price {
          color: var(--content-text-color, #333333);
        }
      }

      .origin-price {
        margin-top: 0.5rem;
        margin-block-start: 0.5rem;

        line-height: 1.6;
        color: var(--gray-color-400, #898989);
        font-weight: var(--text-regular);
        font-size: 0.75rem;
        text-decoration: line-through;
      }
    }

    .discription {
      line-height: 1.6;
      color: var(--gray-color-400, #898989);
      font-weight: var(--text-regular);
      font-size: 0.75rem;
    }

    .tags {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: 0.5rem;

      .only {
        display: inline-block;
        background-color: var(--gray-color-100);
        padding: 4px;
        border-radius: 4px;

        line-height: 1.5;
        color: var(--primary-color);
        font-weight: var(--text-semi-bold);
        font-size: 0.75rem;
      }
      .limited {
        display: inline-block;
        background-color: var(--gray-color-100);
        padding: 4px;
        border-radius: 4px;

        line-height: 1.5;
        color: var(--content-text-color);
        font-weight: var(--text-semi-bold);
        font-size: 0.75rem;
      }
    }
  }
}
