<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>카드 컴포넌트</title>

    <link rel="stylesheet" href="../../base/reset.css" />
    <link rel="stylesheet" href="../../assets/font/Pretendard.css" />
    <link rel="stylesheet" href="../../base/a11y.css" />
    <!-- <link rel="stylesheet" href="./Card.css" /> -->

    <!-- <script type="module" src="./Card.js"></script> -->
  </head>
  <body></body>
</html>
