.modal {
  position: relative;
  width: 440px;
  height: 586px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  .img-wrapper {
    flex: 1;
    background: url('/image/modal-background.webp');
    background-size: cover;
    background-position: center;

    .modal-text {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.87),
        rgba(0, 0, 0, 0.87)
      );
      height: 100%;
      text-align: center;
      align-content: center;
      font-size: var(--font-lg);
      font-weight: var(--text-regular);
      color: var(--white-color);
      line-height: var(--regular-line-height);
      margin: 0;
    }
  }

  .button-wrapper {
    height: 60px;
    display: flex;

    button {
      cursor: pointer;
      width: 100%;
      font-size: var(--font-md);
      line-height: var(--regular-line-height);
      border: none;
      background: var(--gray-color-200);
      background: var(--white-color);

      &:nth-of-type(1) {
        border-right: 1px solid var(--gray-color-100);
      }
    }
  }
}
