.container {
  position: relative;
}

swiper-container {
  width: 100%;
  height: auto;
}

swiper-slide {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto;
  height: auto;
  background: transparent;
  border: none;
  padding: 0;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 50px;
  height: auto;
}

.swiper-button-prev {
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.swiper-button-next {
  right: 15%;
  top: 50%;
  transform: translateY(-50%) scaleX(-1);
}
